In [2]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config_sk import api_key

In [3]:
#call snp 500 company name list
snp_url=f"https://financialmodelingprep.com/api/v3/sp500_constituent?apikey={api_key}"
print(requests.get(snp_url))

<Response [200]>

In [4]:
snp_response = requests.get(snp_url).json()
#print(json.dumps(snp_response, indent=4, sort_keys=True))

In [5]:
#-------------------------------------------------------------------------------------------------------

In [6]:
#call historical price api
url=f"https://financialmodelingprep.com/api/v3/historical-price-full/%5EGSPC?apikey={api_key}"
print(requests.get(url))

<Response [200]>

In [7]:
price_response = requests.get(url).json()
#print(json.dumps(price_response, indent=4, sort_keys=True))

In [8]:
#-------------------------------------------------------------------------------------------------------

In [7]:
#call histori
#price_url="https://financialmodelingprep.com/api/v3/historical-price-full/APPL?serietype=line&apikey={api_key}}"
#print(requests.get(price_url))

In [62]:
#snp_response = requests.get(snp_url).json()
#print(json.dumps(snp_response, indent=4, sort_keys=True))

In [ ]:
#-------------------------------------------------------------------------------------------------------

In [9]:
# collect a list of the S&P 500 constituents
snp_company_name = []
snp_company_symbol = []


for company in snp_response:
    snp_company_name.append(company['name'])
    snp_company_symbol.append(company['symbol'])

In [10]:
data1 = {'Company': snp_company_name, 
         'Symbol': snp_company_symbol,
        '2020-06-27': ['' for i in range(len(snp_company_name))], 
        '2020-03-28': ['' for i in range(len(snp_company_name))], 
        '2019-12-28': ['' for i in range(len(snp_company_name))] 
       }
snp_df = pd.DataFrame(data=data1)
snp_df.head(-1)

,Company,Symbol,2020-06-27,2020-03-28,2019-12-28
0,Westinghouse Air Brake Technologies Corp,WAB,,,
1,Take-Two Interactive Software Inc,TTWO,,,
2,Church & Dwight Co Inc,CHD,,,
3,Martin Marietta Materials Inc,MLM,,,
4,Edwards Lifesciences Corp,EW,,,
...,...,...,...,...,...
500,ETSY Inc,ETSY,,,
501,Tyler Technologies Inc,TYL,,,
502,Bio Rad Laboratories Inc,BIO,,,
503,West Pharmaceutical Services Inc,WST,,,
504,Domino's Pizza Inc,DPZ,,,

In [11]:
data1 = {'Company': snp_company_name, 
         'Symbol': snp_company_symbol,
        'Q2 2020 Date': ['' for i in range(len(snp_company_name))], 
        'Q2 2020 Price': ['' for i in range(len(snp_company_name))], 
        'Q1 2020 Date': ['' for i in range(len(snp_company_name))], 
        'Q1 2020 Price': ['' for i in range(len(snp_company_name))], 
        'Q4 2019 Date': ['' for i in range(len(snp_company_name))], 
        'Q4 2019 Price': ['' for i in range(len(snp_company_name))] 
       }
snp_df = pd.DataFrame(data=data1)
snp_df.head(-1)

,Company,Symbol,Q2 2020 Date,Q2 2020 Price,Q1 2020 Date,Q1 2020 Price,Q4 2019 Date,Q4 2019 Price
0,Westinghouse Air Brake Technologies Corp,WAB,,,,,,
1,Take-Two Interactive Software Inc,TTWO,,,,,,
2,Church & Dwight Co Inc,CHD,,,,,,
3,Martin Marietta Materials Inc,MLM,,,,,,
4,Edwards Lifesciences Corp,EW,,,,,,
...,...,...,...,...,...,...,...,...
500,ETSY Inc,ETSY,,,,,,
501,Tyler Technologies Inc,TYL,,,,,,
502,Bio Rad Laboratories Inc,BIO,,,,,,
503,West Pharmaceutical Services Inc,WST,,,,,,
504,Domino's Pizza Inc,DPZ,,,,,,

In [10]:
###ignore this code########################*************************

for index, row in snp_df.iterrows():
    symbol = row['Symbol']

    price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?serietype=line&apikey={api_key}' 
    #quarter_date_url=f'https://financialmodelingprep.com/api/v3/ratios/{symbol}?period=quarter&limit=3&apikey=1e66f91abd67cd77b6d1a6265607e908'
    response = requests.get(price_url).json()  
    
    try:
        snp_df.loc[index, 'Q2 2020 Price'] = response['historical'][0]['close']
        snp_df.loc[index, 'Q1 2020 Price'] = response['historical'][1]['close']
        snp_df.loc[index, 'Q4 2019 Price'] = response['historical'][2]['close']
    
    except IndexError:
        print('Missing information')

In [13]:
for index, row in snp_df.iterrows():
        
    symbol = row["Symbol"]
    date_url = f'https://financialmodelingprep.com/api/v3/ratios/{symbol}?period=quarter&limit=3&apikey={api_key}'
    #price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date}&to={date}&apikey={api_key}'
    response = requests.get(date_url).json()
    
    
    try:  
        
        snp_df.loc[index, "Q2 2020 Date"] = response[0]["date"]
        snp_df.loc[index, "Q1 2020 Date"] = response[1]["date"]
        snp_df.loc[index, "Q4 2019 Date"] = response[2]["date"]
        
    except IndexError:
        print("Missing information")

Missing information
Missing information
Missing information

In [17]:
snp_df.head(-1)

,Company,Symbol,Q2 2020 Date,Q2 2020 Price,Q1 2020 Date,Q1 2020 Price,Q4 2019 Date,Q4 2019 Price,Q4 2020 Date
0,Westinghouse Air Brake Technologies Corp,WAB,2020-06-30,62.06,2020-03-31,62.42,2019-12-31,62.1,2019-12-31
1,Take-Two Interactive Software Inc,TTWO,2020-06-30,164.43,2020-03-31,163.29,2019-12-31,164.55,2019-12-31
2,Church & Dwight Co Inc,CHD,2020-06-30,91.91,2020-03-31,90.99,2019-12-31,92.19,2019-12-31
3,Martin Marietta Materials Inc,MLM,2020-06-30,262.41,2020-03-31,259.1,2019-12-31,256.23,2019-12-31
4,Edwards Lifesciences Corp,EW,2020-06-30,80.41,2020-03-31,79.38,2019-12-31,83.61,2019-12-31
...,...,...,...,...,...,...,...,...,...
500,ETSY Inc,ETSY,2020-06-30,137.84,2020-03-31,135.94,2019-12-31,133.01,2019-12-31
501,Tyler Technologies Inc,TYL,2020-06-30,404.4,2020-03-31,399.01,2019-12-31,396.88,2019-12-31
502,Bio Rad Laboratories Inc,BIO,2020-06-30,581.71,2020-03-31,579.04,2019-12-31,559.43,2019-12-31
503,West Pharmaceutical Services Inc,WST,2020-06-30,281.93,2020-03-31,279.41,2019-12-31,284.42,2019-12-31
504,Domino's Pizza Inc,DPZ,2020-09-06,394.1,2020-06-14,391.74,2020-03-22,389.95,2020-03-22

In [13]:
###I still need to change the price******

###ignore this code########################*************************

for index, row in snp_df.iterrows():
    symbol = row['Symbol']

    date_url = f'https://financialmodelingprep.com/api/v3/ratios/{symbol}?period=quarter&limit=3&apikey={api_key}'
    date_response=requests.get(date_url).json()  
    
    try:
        snp_df.loc[index, "Q2 2020 Date"] = date_response[0]["date"]
        snp_df.loc[index, "Q1 2020 Date"] = date_response[1]["date"]
        snp_df.loc[index, "Q4 2019 Date"] = date_response[2]["date"]
        
    except IndexError:
        print('Missing information')

Missing information
Missing information
Missing information

In [15]:
#get price 
for index, row in snp_df.iterrows():
    
    symbol = row["Symbol"]
    
    # Price Response for Q2 2020 Date
    date1 = row["Q2 2020 Date"]
    date1_price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date1}&to={date1}&apikey={api_key}'
    date1_response = requests.get(date1_price_url).json() 
    
    
    try:  
        snp_df.loc[index, "Q2 2020 Price"] = date1_response['historical'][0]['close']
        
    except (IndexError, KeyError):
        print(f" - ")
    
    
    #Price Response for Q1 2020 Date
    date2 = row["Q1 2020 Date"]
    date2_price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date2}&to={date2}&apikey={api_key}'
    date2_response = requests.get(date2_price_url).json() 
    
    
    try:  
        snp_df.loc[index, "Q1 2020 Price"] = date2_response['historical'][0]['close']
        
    except (IndexError, KeyError):
        print(f" - ")

            
    
    #Price Response for Q4 2019 Date
    date3 = row["Q4 2019 Date"]
    date3_price_url = f'https://financialmodelingprep.com/api/v3/historical-price-full/{symbol}?from={date3}&to={date3}&apikey={api_key}'
    date3_response = requests.get(date3_price_url).json()
    
     
    try:  
        snp_df.loc[index, "Q4 2019 Price"] = date3_response['historical'][0]['close']
    
    except (IndexError, KeyError):
        print(f" - ")

 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -
 -

In [16]:
snp_df.head(-1)

,Company,Symbol,Q2 2020 Date,Q2 2020 Price,Q1 2020 Date,Q1 2020 Price,Q4 2019 Date,Q4 2019 Price
0,Westinghouse Air Brake Technologies Corp,WAB,2020-06-30,57.4712,2020-03-31,47.9386,2019-12-31,77.3759
1,Take-Two Interactive Software Inc,TTWO,2020-06-30,139.57,2020-03-31,118.61,2019-12-31,122.43
2,Church & Dwight Co Inc,CHD,2020-06-30,77.1044,2020-03-31,63.8084,2019-12-31,70.325
3,Martin Marietta Materials Inc,MLM,2020-06-30,206.002,2020-03-31,188.184,2019-12-31,277.432
4,Edwards Lifesciences Corp,EW,2020-06-30,69.11,2020-03-31,62.8733,2019-12-31,77.7633
...,...,...,...,...,...,...,...,...
500,ETSY Inc,ETSY,2020-06-30,106.23,2020-03-31,38.44,2019-12-31,44.3
501,Tyler Technologies Inc,TYL,2020-06-30,346.88,2020-03-31,296.56,2019-12-31,300.02
502,Bio Rad Laboratories Inc,BIO,2020-06-30,451.49,2020-03-31,350.56,2019-12-31,370.03
503,West Pharmaceutical Services Inc,WST,2020-06-30,227.034,2020-03-31,152.016,2019-12-31,149.946
504,Domino's Pizza Inc,DPZ,2020-09-06,394.1,2020-06-14,391.74,2020-03-22,389.95

In [17]:
snp_df.to_csv('../output/snp_historical_prices.csv')