In [21]:
pip install dtale

Requirement already satisfied: dtale in /opt/anaconda3/lib/python3.8/site-packages (1.19.0)
Requirement already satisfied: itsdangerous in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.1.0)
Requirement already satisfied: dash-bootstrap-components; python_version > "3.0" in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.10.7)
Requirement already satisfied: flask-ngrok; python_version > "3.0" in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.0.25)
Requirement already satisfied: dash>=1.5.0 in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.16.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (2.24.0)
Requirement already satisfied: Flask-Compress in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.7.0)
Requirement already satisfied: squarify in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.4.3)
Requirement already satisfied: future>=0.14.0 in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.18.2)
Requirement already satisfied: dash-colorscales in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.0.4)
Requirement already satisfied: xarray in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.16.1)
Requirement already satisfied: dash-daq in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.5.0)
Requirement already satisfied: strsimpy in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.1.9)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.11.1)
Requirement already satisfied: scikit-learn>='0.21.0 in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.23.1)
Requirement already satisfied: lz4; python_version > "3.0" in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (3.1.0)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.5.0)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.0.5)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.15.0)
Requirement already satisfied: Flask>=1.0 in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.1.2)
Requirement already satisfied: dash-core-components==1.12.1 in /opt/anaconda3/lib/python3.8/site-packages (from dash>=1.5.0->dtale) (1.12.1)
Requirement already satisfied: plotly in /opt/anaconda3/lib/python3.8/site-packages (from dash>=1.5.0->dtale) (4.12.0)
Requirement already satisfied: dash-html-components==1.1.1 in /opt/anaconda3/lib/python3.8/site-packages (from dash>=1.5.0->dtale) (1.1.1)
Requirement already satisfied: dash-renderer==1.8.2 in /opt/anaconda3/lib/python3.8/site-packages (from dash>=1.5.0->dtale) (1.8.2)
Requirement already satisfied: dash-table==4.10.1 in /opt/anaconda3/lib/python3.8/site-packages (from dash>=1.5.0->dtale) (4.10.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (2020.6.20)
Requirement already satisfied: brotli in /opt/anaconda3/lib/python3.8/site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: setuptools>=38.4 in /opt/anaconda3/lib/python3.8/site-packages (from xarray->dtale) (49.2.0.post20200714)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/lib/python3.8/site-packages (from xarray->dtale) (1.18.5)
Requirement already satisfied: patsy>=0.5 in /opt/anaconda3/lib/python3.8/site-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>='0.21.0->dtale) (0.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>='0.21.0->dtale) (2.1.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->dtale) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->dtale) (2.8.1)
Requirement already satisfied: Werkzeug>=0.15 in /opt/anaconda3/lib/python3.8/site-packages (from Flask>=1.0->dtale) (1.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in /opt/anaconda3/lib/python3.8/site-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied: click>=5.1 in /opt/anaconda3/lib/python3.8/site-packages (from Flask>=1.0->dtale) (7.1.2)
Requirement already satisfied: retrying>=1.3.3 in /opt/anaconda3/lib/python3.8/site-packages (from plotly->dash>=1.5.0->dtale) (1.3.3)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.8/site-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import dtale

In [2]:
base = '../output/'

historical_prices_df = pd.read_csv(base + 'snp_historical_prices.csv')
historical_prices_df = historical_prices_df.drop(columns='Unnamed: 0')
historical_prices_df = historical_prices_df.drop(columns='Company')
historical_prices_df

    Symbol     Q3 Date  Q3 Price     Q2 Date  Q2 Price     Q1 Date  Q1 Price
0      WAB  2020-06-30   57.4712  2020-03-31   47.9386  2019-12-31   77.3759
1     TTWO  2020-06-30  139.5700  2020-03-31  118.6100  2019-12-31  122.4300
2      CHD  2020-06-30   77.1044  2020-03-31   63.8084  2019-12-31   70.3250
3      MLM  2020-06-30  206.0021  2020-03-31  188.1841  2019-12-31  277.4322
4       EW  2020-06-30   69.1100  2020-03-31   62.8733  2019-12-31   77.7633
..     ...         ...       ...         ...       ...         ...       ...
501    TYL  2020-06-30  346.8800  2020-03-31  296.5600  2019-12-31  300.0200
502    BIO  2020-06-30  451.4900  2020-03-31  350.5600  2019-12-31  370.0300
503    WST  2020-06-30  227.0339  2020-03-31  152.0159  2019-12-31  149.9464
504    DPZ  2020-09-06       NaN  2020-06-14       NaN  2020-03-22       NaN
505   CARR  2020-06-30   22.2200  2020-03-31   17.1868         NaN       NaN

[506 rows x 7 columns]

In [3]:
financial_ratios_df = pd.read_csv(base + 's&p_finratios.csv')
financial_ratios_df = financial_ratios_df.drop(columns='Unnamed: 0')
financial_ratios_df

,Symbol,Q1 P/E,Q2 P/E,Q3 P/E,Q1 ROE,Q2 ROE,Q3 ROE,Q1 Date,Q2 Date,Q3 Date
0,MMM,103.165021,60.287913,69.598300,0.096293,0.127328,0.118817,2019-12-31,2020-03-31,2020-06-30
1,AOS,84.339444,117.939760,112.200856,0.054776,0.031987,0.040890,2019-12-31,2020-03-31,2020-06-30
2,ABT,145.714952,247.118970,302.746773,0.033743,0.018664,0.017562,2019-12-31,2020-03-31,2020-06-30
3,ABBV,45.145182,39.608159,-216.466906,-0.342756,-0.405934,-0.050177,2019-12-31,2020-03-31,2020-06-30
4,ABMD,112.618433,207.523380,246.766315,0.066118,0.029844,0.040467,2019-12-31,2020-03-31,2020-06-30
...,...,...,...,...,...,...,...,...,...,...
500,YUM,63.062576,250.930704,128.890820,-0.060878,-0.010086,-0.025407,2019-12-31,2020-03-31,2020-06-30
501,ZBRA,81.610223,112.645850,132.267734,0.091898,0.051534,0.055463,2019-12-31,2020-03-28,2020-06-27
502,ZBH,96.590975,-40.962778,-119.475547,0.025888,-0.042808,-0.017747,2019-12-31,2020-03-31,2020-06-30
503,ZION,49.450866,323.769464,83.890133,0.024888,0.001874,0.008713,2019-12-31,2020-03-31,2020-06-30
504,ZTS,162.667629,132.869278,173.546749,0.141802,0.153651,0.126425,2019-12-31,2020-03-31,2020-06-30

In [4]:
financial_growth_df = pd.read_csv(base + 'growth_data_SnP.csv')
#financial_growth_df = financial_growth_df.rename(columns={"Name": "Company"})
financial_growth_df = financial_growth_df.drop(columns='Unnamed: 0')
financial_growth_df = financial_growth_df.drop(columns='Name')
financial_growth_df

,Sector,Symbol,Q1 Rev Growth,Q1 Op Inc Growth,Q1 EPS Growth,Q2 Rev Growth,Q2 Op Inc Growth,Q2 EPS Growth,Q3 Rev Growth,Q3 Op Inc Growth,Q3 EPS Growth
0,Industrials,MMM,0.015017,-0.359025,-0.387556,-0.004438,0.290147,0.336083,-0.111331,0.046302,-0.000347
1,Industrials,AOS,0.031173,0.023936,0.054670,-0.151818,-0.413853,-0.429357,0.042393,0.285081,0.317254
2,Health Care,ABT,0.029470,0.106845,0.094281,-0.070724,-0.390649,-0.462041,-0.051514,-0.155941,-0.050260
3,Health Care,ABBV,0.026536,0.511655,0.482730,-0.009766,-0.089232,-0.005941,0.209537,-0.791285,-1.239304
4,Health Care,ABMD,0.081035,0.167442,4.320548,-0.067360,-0.240638,-0.538217,-0.202305,-0.361486,0.399448
...,...,...,...,...,...,...,...,...,...,...,...
500,Consumer Discretionary,YUM,0.265123,0.137500,0.932233,-0.254427,-0.542125,-0.828255,-0.051465,0.200000,1.481913
501,Information Technology,ZBRA,0.054867,0.016216,0.257473,-0.117450,-0.196809,-0.476518,-0.091255,-0.211921,0.137040
502,Health Care,ZBH,0.123283,0.370220,-0.259309,-0.160841,-2.353919,-2.596342,-0.312647,0.623465,0.594298
503,Financials,ZION,-0.002805,-0.184028,-0.164003,-0.040788,-0.931915,-0.920693,-0.002933,4.125000,3.959842
504,Health Care,ZTS,0.056818,-0.172348,-0.099269,-0.083632,0.137300,0.090235,0.009126,-0.030181,-0.107067

In [5]:
snp_price_ratio_df = historical_prices_df.merge(financial_ratios_df, how='outer', on=['Symbol', 'Q1 Date', 'Q2 Date', 'Q3 Date'])

snp_price_ratio_df

,Symbol,Q3 Date,Q3 Price,Q2 Date,Q2 Price,Q1 Date,Q1 Price,Q1 P/E,Q2 P/E,Q3 P/E,Q1 ROE,Q2 ROE,Q3 ROE
0,WAB,2020-06-30,57.4712,2020-03-31,47.9386,2019-12-31,77.3759,109.820179,82.217276,125.933436,0.013629,0.011432,0.008816
1,TTWO,2020-06-30,139.5700,2020-03-31,118.6100,2019-12-31,122.4300,85.479994,110.679922,181.282514,0.068126,0.048330,0.033385
2,CHD,2020-06-30,77.1044,2020-03-31,63.8084,2019-12-31,70.3250,121.142478,69.694989,102.141991,0.054127,0.081553,0.063259
3,MLM,2020-06-30,206.0021,2020-03-31,188.1841,2019-12-31,277.4322,132.628429,454.112210,58.979462,0.024482,0.004890,0.039628
4,EW,2020-06-30,69.1100,2020-03-31,62.8733,2019-12-31,77.7633,176.925767,128.561597,-351.672953,0.067546,0.079619,-0.031752
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,COTY,2020-06-30,NaN,2020-03-31,NaN,2019-12-31,NaN,-399.820503,-14.454080,-4.452500,-0.004719,-0.072772,-0.255042
509,ETFC,2020-06-30,NaN,2020-03-31,NaN,2019-12-31,NaN,58.870841,41.980099,56.101336,0.026288,0.027765,0.028739
510,HRB,2020-07-31,NaN,2020-04-30,NaN,2020-01-31,NaN,-33.604415,6.843748,30.835003,0.407323,6.480807,0.674608
511,KSS,2020-08-01,NaN,2020-05-02,NaN,2020-02-01,NaN,22.899058,-5.471127,70.442556,0.048624,-0.112944,0.009717
512,OTIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.333177,109.841447,NaN,NaN,NaN

In [6]:
snp_df = snp_price_ratio_df.merge(financial_growth_df, how='outer', on=['Symbol'])

dtale.show(snp_df, ignore_duplicate=True)

In [7]:
clean_snp_df = snp_df.loc[(snp_df['Symbol'] != 'OTIS') & (snp_df['Symbol'] != 'AXP')
                          & (snp_df['Symbol'] != 'CARR')]

clean_snp_df = clean_snp_df.reset_index(drop=True)

# change price to that 12/27/19
clean_snp_df.loc[184, 'Q1 Price'] = 72.449997

# change price to that 3/27/20
clean_snp_df.loc[184, 'Q2 Price'] = 61.935001

# change price to that of 6/26/20
clean_snp_df.loc[184, 'Q3 Price'] = 88.407501

dtale.show(clean_snp_df, ignore_duplicate=True)

In [8]:
clean_snp_df = clean_snp_df.dropna()
clean_snp_df = clean_snp_df.rename(columns={'Symbol': 'Company'})
clean_snp_df = clean_snp_df.reset_index(drop=True)

In [9]:
dtale.show(clean_snp_df)

In [10]:
big_tech_df = clean_snp_df.loc[(clean_snp_df['Company'] == 'FB') | (clean_snp_df['Company'] == 'AMZN') |  
                                      (clean_snp_df['Company'] == 'AAPL') | 
                                      (clean_snp_df['Company'] == 'MSFT') | 
                                      (clean_snp_df['Company'] ==  'NFLX') | 
                                      (clean_snp_df['Company'] == 'GOOG')]

big_tech_df = big_tech_df.reset_index(drop=True)
dtale.show(big_tech_df, ignore_duplicate=True)