In [65]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [77]:
base = '../output/'

historical_prices_df = pd.read_csv(base + 'snp_historical_prices.csv')
historical_prices_df = historical_prices_df.drop(columns='Unnamed: 0')
historical_prices_df = historical_prices_df.drop(columns='Company')
historical_prices_df

    Symbol     Q3 Date  Q3 Price     Q2 Date  Q2 Price     Q1 Date  Q1 Price
0      WAB  2020-06-30   57.4712  2020-03-31   47.9386  2019-12-31   77.3759
1     TTWO  2020-06-30  139.5700  2020-03-31  118.6100  2019-12-31  122.4300
2      CHD  2020-06-30   77.1044  2020-03-31   63.8084  2019-12-31   70.3250
3      MLM  2020-06-30  206.0021  2020-03-31  188.1841  2019-12-31  277.4322
4       EW  2020-06-30   69.1100  2020-03-31   62.8733  2019-12-31   77.7633
..     ...         ...       ...         ...       ...         ...       ...
501    TYL  2020-06-30  346.8800  2020-03-31  296.5600  2019-12-31  300.0200
502    BIO  2020-06-30  451.4900  2020-03-31  350.5600  2019-12-31  370.0300
503    WST  2020-06-30  227.0339  2020-03-31  152.0159  2019-12-31  149.9464
504    DPZ  2020-09-06       NaN  2020-06-14       NaN  2020-03-22       NaN
505   CARR  2020-06-30   22.2200  2020-03-31   17.1868         NaN       NaN

[506 rows x 7 columns]

In [78]:
financial_ratios_df = pd.read_csv(base + 's&p_finratios.csv')
financial_ratios_df = financial_ratios_df.drop(columns='Unnamed: 0')
financial_ratios_df

,Symbol,Q1 P/E,Q2 P/E,Q3 P/E,Q1 ROE,Q2 ROE,Q3 ROE,Q1 Date,Q2 Date,Q3 Date
0,MMM,103.165021,60.287913,69.598300,0.096293,0.127328,0.118817,2019-12-31,2020-03-31,2020-06-30
1,AOS,84.339444,117.939760,112.200856,0.054776,0.031987,0.040890,2019-12-31,2020-03-31,2020-06-30
2,ABT,145.714952,247.118970,302.746773,0.033743,0.018664,0.017562,2019-12-31,2020-03-31,2020-06-30
3,ABBV,45.145182,39.608159,-216.466906,-0.342756,-0.405934,-0.050177,2019-12-31,2020-03-31,2020-06-30
4,ABMD,112.618433,207.523380,246.766315,0.066118,0.029844,0.040467,2019-12-31,2020-03-31,2020-06-30
...,...,...,...,...,...,...,...,...,...,...
500,YUM,63.062576,250.930704,128.890820,-0.060878,-0.010086,-0.025407,2019-12-31,2020-03-31,2020-06-30
501,ZBRA,81.610223,112.645850,132.267734,0.091898,0.051534,0.055463,2019-12-31,2020-03-28,2020-06-27
502,ZBH,96.590975,-40.962778,-119.475547,0.025888,-0.042808,-0.017747,2019-12-31,2020-03-31,2020-06-30
503,ZION,49.450866,323.769464,83.890133,0.024888,0.001874,0.008713,2019-12-31,2020-03-31,2020-06-30
504,ZTS,162.667629,132.869278,173.546749,0.141802,0.153651,0.126425,2019-12-31,2020-03-31,2020-06-30

In [79]:
financial_growth_df = pd.read_csv(base + 'growth_data_SnP.csv')
#financial_growth_df = financial_growth_df.rename(columns={"Name": "Company"})
financial_growth_df = financial_growth_df.drop(columns='Unnamed: 0')
financial_growth_df = financial_growth_df.drop(columns='Name')
financial_growth_df

,Sector,Symbol,Q1 Rev Growth,Q1 Op Inc Growth,Q1 EPS Growth,Q2 Rev Growth,Q2 Op Inc Growth,Q2 EPS Growth,Q3 Rev Growth,Q3 Op Inc Growth,Q3 EPS Growth
0,Industrials,MMM,0.015017,-0.359025,-0.387556,-0.004438,0.290147,0.336083,-0.111331,0.046302,-0.000347
1,Industrials,AOS,0.031173,0.023936,0.054670,-0.151818,-0.413853,-0.429357,0.042393,0.285081,0.317254
2,Health Care,ABT,0.029470,0.106845,0.094281,-0.070724,-0.390649,-0.462041,-0.051514,-0.155941,-0.050260
3,Health Care,ABBV,0.026536,0.511655,0.482730,-0.009766,-0.089232,-0.005941,0.209537,-0.791285,-1.239304
4,Health Care,ABMD,0.081035,0.167442,4.320548,-0.067360,-0.240638,-0.538217,-0.202305,-0.361486,0.399448
...,...,...,...,...,...,...,...,...,...,...,...
500,Consumer Discretionary,YUM,0.265123,0.137500,0.932233,-0.254427,-0.542125,-0.828255,-0.051465,0.200000,1.481913
501,Information Technology,ZBRA,0.054867,0.016216,0.257473,-0.117450,-0.196809,-0.476518,-0.091255,-0.211921,0.137040
502,Health Care,ZBH,0.123283,0.370220,-0.259309,-0.160841,-2.353919,-2.596342,-0.312647,0.623465,0.594298
503,Financials,ZION,-0.002805,-0.184028,-0.164003,-0.040788,-0.931915,-0.920693,-0.002933,4.125000,3.959842
504,Health Care,ZTS,0.056818,-0.172348,-0.099269,-0.083632,0.137300,0.090235,0.009126,-0.030181,-0.107067

In [80]:
snp_price_ratio_df = historical_prices_df.merge(financial_ratios_df, how='outer', on=['Symbol', 'Q1 Date', 'Q2 Date', 'Q3 Date'])

snp_price_ratio_df

,Symbol,Q3 Date,Q3 Price,Q2 Date,Q2 Price,Q1 Date,Q1 Price,Q1 P/E,Q2 P/E,Q3 P/E,Q1 ROE,Q2 ROE,Q3 ROE
0,WAB,2020-06-30,57.4712,2020-03-31,47.9386,2019-12-31,77.3759,109.820179,82.217276,125.933436,0.013629,0.011432,0.008816
1,TTWO,2020-06-30,139.5700,2020-03-31,118.6100,2019-12-31,122.4300,85.479994,110.679922,181.282514,0.068126,0.048330,0.033385
2,CHD,2020-06-30,77.1044,2020-03-31,63.8084,2019-12-31,70.3250,121.142478,69.694989,102.141991,0.054127,0.081553,0.063259
3,MLM,2020-06-30,206.0021,2020-03-31,188.1841,2019-12-31,277.4322,132.628429,454.112210,58.979462,0.024482,0.004890,0.039628
4,EW,2020-06-30,69.1100,2020-03-31,62.8733,2019-12-31,77.7633,176.925767,128.561597,-351.672953,0.067546,0.079619,-0.031752
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,COTY,2020-06-30,NaN,2020-03-31,NaN,2019-12-31,NaN,-399.820503,-14.454080,-4.452500,-0.004719,-0.072772,-0.255042
509,ETFC,2020-06-30,NaN,2020-03-31,NaN,2019-12-31,NaN,58.870841,41.980099,56.101336,0.026288,0.027765,0.028739
510,HRB,2020-07-31,NaN,2020-04-30,NaN,2020-01-31,NaN,-33.604415,6.843748,30.835003,0.407323,6.480807,0.674608
511,KSS,2020-08-01,NaN,2020-05-02,NaN,2020-02-01,NaN,22.899058,-5.471127,70.442556,0.048624,-0.112944,0.009717
512,OTIS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,130.333177,109.841447,NaN,NaN,NaN

In [87]:
snp_df = snp_price_ratio_df.merge(financial_growth_df, how='outer', on=['Symbol'])

snp_df

,Symbol,Q3 Date,Q3 Price,Q2 Date,Q2 Price,Q1 Date,Q1 Price,Q1 P/E,Q2 P/E,Q3 P/E,...,Sector,Q1 Rev Growth,Q1 Op Inc Growth,Q1 EPS Growth,Q2 Rev Growth,Q2 Op Inc Growth,Q2 EPS Growth,Q3 Rev Growth,Q3 Op Inc Growth,Q3 EPS Growth
0,WAB,2020-06-30,57.4712,2020-03-31,47.9386,2019-12-31,77.3759,109.820179,82.217276,125.933436,...,Industrials,0.183194,0.337079,0.481060,-0.185146,-0.038921,-0.172446,-0.099746,-0.266452,-0.217315
1,TTWO,2020-06-30,139.5700,2020-03-31,118.6100,2019-12-31,122.4300,85.479994,110.679922,181.282514,...,Communication Services,0.084267,1.363446,1.275126,-0.182327,-0.310740,-0.251777,0.093051,-0.326056,-0.281575
2,CHD,2020-06-30,77.1044,2020-03-31,63.8084,2019-12-31,70.3250,121.142478,69.694989,102.141991,...,Consumer Staples,0.050303,-0.099631,-0.074681,0.018353,0.611680,0.590777,0.024974,-0.203115,-0.175492
3,MLM,2020-06-30,206.0021,2020-03-31,188.1841,2019-12-31,277.4322,132.628429,454.112210,58.979462,...,Materials,-0.225182,-0.465523,-0.472542,-0.129251,-0.686780,-0.801893,0.326028,4.301038,7.428523
4,EW,2020-06-30,69.1100,2020-03-31,62.8733,2019-12-31,77.7633,176.925767,128.561597,-351.672953,...,Health Care,0.073218,0.056065,0.018114,-0.038668,0.152188,0.112666,-0.180473,-1.473890,-1.401840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,CARR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.079261,74.143287,...,Industrials,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
509,COTY,2020-06-30,NaN,2020-03-31,NaN,2019-12-31,NaN,-399.820503,-14.454080,-4.452500,...,Consumer Staples,0.207021,-0.719048,-1.403802,-0.348401,-8.310734,-11.827524,-0.633246,-2.556801,-1.812208
510,ETFC,2020-06-30,NaN,2020-03-31,NaN,2019-12-31,NaN,58.870841,41.980099,56.101336,...,Financials,-0.112845,-0.336842,-0.341075,0.014885,0.015873,0.063599,-0.017333,0.031250,0.088001
511,HRB,2020-07-31,NaN,2020-04-30,NaN,2020-01-31,NaN,-33.604415,6.843748,30.835003,...,Consumer Discretionary,2.228867,0.371325,0.295972,2.484851,5.374669,4.577237,-0.667820,-0.770884,-0.803272
512,KSS,2020-08-01,NaN,2020-05-02,NaN,2020-02-01,NaN,22.899058,-5.471127,70.442556,...,Consumer Discretionary,0.477189,0.882629,1.182273,-0.644614,-2.790524,-3.054765,0.403213,1.164345,1.086317

In [89]:
snp_df.to_csv('../output/snp_final_v1.csv')

In [83]:
snp_df.dropna(inplace=True)
snp_df

,Symbol,Q3 Date,Q3 Price,Q2 Date,Q2 Price,Q1 Date,Q1 Price,Q1 P/E,Q2 P/E,Q3 P/E,...,Sector,Q1 Rev Growth,Q1 Op Inc Growth,Q1 EPS Growth,Q2 Rev Growth,Q2 Op Inc Growth,Q2 EPS Growth,Q3 Rev Growth,Q3 Op Inc Growth,Q3 EPS Growth
0,WAB,2020-06-30,57.471200,2020-03-31,47.938600,2019-12-31,77.375900,109.820179,82.217276,125.933436,...,Industrials,0.183194,0.337079,0.481060,-0.185146,-0.038921,-0.172446,-0.099746,-0.266452,-0.217315
1,TTWO,2020-06-30,139.570000,2020-03-31,118.610000,2019-12-31,122.430000,85.479994,110.679922,181.282514,...,Communication Services,0.084267,1.363446,1.275126,-0.182327,-0.310740,-0.251777,0.093051,-0.326056,-0.281575
2,CHD,2020-06-30,77.104400,2020-03-31,63.808400,2019-12-31,70.325000,121.142478,69.694989,102.141991,...,Consumer Staples,0.050303,-0.099631,-0.074681,0.018353,0.611680,0.590777,0.024974,-0.203115,-0.175492
3,MLM,2020-06-30,206.002100,2020-03-31,188.184100,2019-12-31,277.432200,132.628429,454.112210,58.979462,...,Materials,-0.225182,-0.465523,-0.472542,-0.129251,-0.686780,-0.801893,0.326028,4.301038,7.428523
4,EW,2020-06-30,69.110000,2020-03-31,62.873300,2019-12-31,77.763300,176.925767,128.561597,-351.672953,...,Health Care,0.073218,0.056065,0.018114,-0.038668,0.152188,0.112666,-0.180473,-1.473890,-1.401840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,SHW,2020-06-30,576.685700,2020-03-31,457.505800,2019-12-31,579.500300,217.368110,132.060806,88.987858,...,Materials,-0.154740,-0.643025,-0.567086,0.007843,0.517811,0.299465,0.110280,0.916116,0.870620
500,AEP,2020-06-30,79.639999,2020-03-31,79.980003,2019-12-31,94.510002,304.180035,79.882591,76.046412,...,Utilities,-0.161993,-0.692444,-0.790130,0.036366,1.550390,2.222465,-0.067645,-0.038451,0.045984
503,TYL,2020-06-30,346.880000,2020-03-31,296.560000,2019-12-31,300.020000,258.886675,256.607038,266.577267,...,Information Technology,0.048791,0.127431,0.155735,-0.042571,-0.249441,-0.002753,-0.019708,0.219750,0.125932
504,BIO,2020-06-30,451.490000,2020-03-31,350.560000,2019-12-31,370.030000,20.249543,15.432752,14.042300,...,Health Care,0.113791,-0.042725,3.106193,-0.084532,0.352113,0.243075,-0.060814,-0.208826,0.415438
505,WST,2020-06-30,227.033900,2020-03-31,152.015900,2019-12-31,149.946400,177.636033,154.471069,187.950213,...,Health Care,0.031791,0.160475,0.131983,0.044411,0.126761,0.165841,0.072635,0.177273,0.227454

In [86]:
snp_df.to_csv('../output/snp_final_v2.csv')