In [1]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from api_key_jp import api_key

In [2]:
nasdaq_url = 'https://financialmodelingprep.com/api/v3/nasdaq_constituent?apikey=' + api_key

In [3]:
nasdaq_list_response = requests.get(nasdaq_url).json()

In [4]:
nasdaq_companies = []
company_tickers = []

for company in nasdaq_list_response:
    nasdaq_companies.append(company['name'])
    company_tickers.append(company['symbol'])

In [5]:
data = {'Company': company_tickers, 'Q1 Op Income Growth': ['' for i in range(len(company_tickers))], 
        'Q2 Op Income Growth': ['' for i in range(len(company_tickers))], 
        'Q3 Op Income Growth': ['' for i in range(len(company_tickers))], 
        'Q1 EPS Growth': ['' for i in range(len(company_tickers))], 
        'Q2 EPS Growth': ['' for i in range(len(company_tickers))], 
        'Q3 EPS Growth': ['' for i in range(len(company_tickers))], 
        'Q1 Rev Growth': ['' for i in range(len(company_tickers))],
        'Q2 Rev Growth': ['' for i in range(len(company_tickers))],
        'Q3 Rev Growth': ['' for i in range(len(company_tickers))],
        'Q1 Date': ['' for i in range(len(company_tickers))],
        'Q2 Date': ['' for i in range(len(company_tickers))],
        'Q3 Date': ['' for i in range(len(company_tickers))],
       }
nasdaq_dg_df = pd.DataFrame(data=data)
nasdaq_dg_df.head()

,Company,Q1 Op Income Growth,Q2 Op Income Growth,Q3 Op Income Growth,Q1 EPS Growth,Q2 EPS Growth,Q3 EPS Growth,Q1 Rev Growth,Q2 Rev Growth,Q3 Rev Growth,Q1 Date,Q2 Date,Q3 Date
0,DOCU,,,,,,,,,,,,
1,ZM,,,,,,,,,,,,
2,DXCM,,,,,,,,,,,,
3,SPLK,,,,,,,,,,,,
4,SGEN,,,,,,,,,,,,

In [8]:
for index, row in nasdaq_dg_df.iterrows():
    ticker = row['Company']
    quarterly_ratio_url = f'https://financialmodelingprep.com/api/v3/income-statement/{ticker}?period=quarter&limit=400&apikey={api_key}' 
    response = requests.get(quarterly_ratio_url).json()
    
    try:
        nasdaq_dg_df.loc[index, 'Q3 Op Income Growth'] = response[0]['operatingIncome']
        nasdaq_dg_df.loc[index, 'Q2 Op Income Growth'] = response[1]['operatingIncome']
        nasdaq_dg_df.loc[index, 'Q1 Op Income Growth'] = response[2]['operatingIncome']
        nasdaq_dg_df.loc[index, 'Q3 EPS Growth'] = response[0]['eps']
        nasdaq_dg_df.loc[index, 'Q2 EPS Growth'] = response[1]['eps']
        nasdaq_dg_df.loc[index, 'Q1 EPS Growth'] = response[2]['eps']
        nasdaq_dg_df.loc[index, 'Q3 Rev Growth'] = response[0]['revenue']
        nasdaq_dg_df.loc[index, 'Q2 Rev Growth'] = response[1]['revenue']
        nasdaq_dg_df.loc[index, 'Q1 Rev Growth'] = response[2]['revenue']
        nasdaq_dg_df.loc[index, 'Q3 Date'] = response[0]['date']
        nasdaq_dg_df.loc[index, 'Q2 Date'] = response[1]['date']
        nasdaq_dg_df.loc[index, 'Q1 Date'] = response[2]['date']
    except IndexError:
        print('Missing NASDAQ information')

Missing NASDAQ information

In [9]:
nasdaq_dg_df.head()

,Company,Q1 Op Income Growth,Q2 Op Income Growth,Q3 Op Income Growth,Q1 EPS Growth,Q2 EPS Growth,Q3 EPS Growth,Q1 Rev Growth,Q2 Rev Growth,Q3 Rev Growth,Q1 Date,Q2 Date,Q3 Date
0,DOCU,-42353000,-41853000,-58635000,-0.26205,-0.26126,-0.34923,274895000,297017000,342209000,2020-01-31,2020-04-30,2020-07-31
1,ZM,10553000,23385000,188104000,0.06406,0.09172,0.62588,188251000,328167000,663520000,2020-01-31,2020-04-30,2020-07-31
2,DXCM,101500000,33600000,62400000,1.00108,0.21148,0.47732,462800000,405100000,451800000,2019-12-31,2020-03-31,2020-06-30
3,SPLK,-7.769e+06,-288612000,-239459000,-0.14586,-1.93977,-1.64403,791182000,434077000,491658000,2020-01-31,2020-04-30,2020-07-31
4,SGEN,-38414000,-112355000,-93965000,0.15043,-0.97709,-0.1222,289804000,234514000,277998000,2019-12-31,2020-03-31,2020-06-30

In [10]:
nasdaq_dg_df.to_csv("../output/finanical_data_growth.csv", index = False)