In [1]:
import json
import requests
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from api_key_jp import api_key

In [2]:
nasdaq_url = 'https://financialmodelingprep.com/api/v3/nasdaq_constituent?apikey=' + api_key

In [3]:
nasdaq_list_response = requests.get(nasdaq_url).json()

In [4]:
nasdaq_companies = []
company_tickers = []

for company in nasdaq_list_response:
    nasdaq_companies.append(company['name'])
    company_tickers.append(company['symbol'])

In [5]:
data = {'Company': company_tickers, 'Q1 Op Income Growth': ['' for i in range(len(company_tickers))], 
        'Q2 Op Income Growth': ['' for i in range(len(company_tickers))], 
        'Q3 Op Income Growth': ['' for i in range(len(company_tickers))], 
        'Q1 EPS Growth': ['' for i in range(len(company_tickers))], 
        'Q2 EPS Growth': ['' for i in range(len(company_tickers))], 
        'Q3 EPS Growth': ['' for i in range(len(company_tickers))], 
        'Q1 Rev Growth': ['' for i in range(len(company_tickers))],
        'Q2 Rev Growth': ['' for i in range(len(company_tickers))],
        'Q3 Rev Growth': ['' for i in range(len(company_tickers))],
        'Q1 Date': ['' for i in range(len(company_tickers))],
        'Q2 Date': ['' for i in range(len(company_tickers))],
        'Q3 Date': ['' for i in range(len(company_tickers))],
       }
nasdaq_dg_df = pd.DataFrame(data=data)
nasdaq_dg_df.head()

,Company,Q1 Op Income Growth,Q2 Op Income Growth,Q3 Op Income Growth,Q1 EPS Growth,Q2 EPS Growth,Q3 EPS Growth,Q1 Rev Growth,Q2 Rev Growth,Q3 Rev Growth,Q1 Date,Q2 Date,Q3 Date
0,DOCU,,,,,,,,,,,,
1,ZM,,,,,,,,,,,,
2,DXCM,,,,,,,,,,,,
3,SPLK,,,,,,,,,,,,
4,SGEN,,,,,,,,,,,,

In [ ]:
for index, row in nasdaq_dg_df.iterrows():
    ticker = row['Company']
    quarterly_ratio_url = f'https://financialmodelingprep.com/api/v3/financial-growth/{ticker}?period=quarter&limit=80&apikey={api_key}' 
    response = requests.get(quarterly_ratio_url).json()
    try:
        nasdaq_dg_df.loc[index, 'Q3 Op Income Growth'] = response[0]['operatingIncomeGrowth']
        nasdaq_dg_df.loc[index, 'Q2 Op Income Growth'] = response[1]['operatingIncomeGrowth']
        nasdaq_dg_df.loc[index, 'Q1 Op Income Growth'] = response[2]['operatingIncomeGrowth']
        nasdaq_dg_df.loc[index, 'Q3 EPS Growth'] = response[0]['epsgrowth']
        nasdaq_dg_df.loc[index, 'Q2 EPS Growth'] = response[1]['epsgrowth']
        nasdaq_dg_df.loc[index, 'Q1 EPS Growth'] = response[2]['epsgrowth']
        nasdaq_dg_df.loc[index, 'Q3 Rev Growth'] = response[0]['revenueGrowth']
        nasdaq_dg_df.loc[index, 'Q2 Rev Growth'] = response[1]['revenueGrowth']
        nasdaq_dg_df.loc[index, 'Q1 Rev Growth'] = response[2]['revenueGrowth']
        nasdaq_dg_df.loc[index, 'Q3 Date'] = response[0]['date']
        nasdaq_dg_df.loc[index, 'Q2 Date'] = response[1]['date']
        nasdaq_dg_df.loc[index, 'Q1 Date'] = response[2]['date']
    except IndexError:
        print('Missing NASDAQ information')

In [ ]:
nasdaq_dg_df.head()

In [ ]:
nasdaq_dg_df.to_csv("../output/nasdaq_financial_growth.csv", index = False)