In [1]:
pip install dtale

Requirement already satisfied: dtale in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (1.19.1)Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 20.2.4 is available.
You should consider upgrading via the 'C:\Users\17179\anaconda3\envs\PythonData\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: dash-bootstrap-components; python_version > "3.0" in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.10.7)
Requirement already satisfied: Flask-Compress in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (1.7.0)
Requirement already satisfied: strsimpy in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.1.9)
Requirement already satisfied: statsmodels in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.12.0)
Requirement already satisfied: six in c:\users\17179\appdata\roaming\python\python38\site-packages (from dtale) (1.15.0)
Requirement already satisfied: dash-daq in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.5.0)
Requirement already satisfied: dash>=1.5.0 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (1.16.3)
Requirement already satisfied: itsdangerous in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (1.1.0)
Requirement already satisfied: scikit-learn>='0.21.0 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.23.2)
Requirement already satisfied: future>=0.14.0 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: dash-colorscales in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.0.4)
Requirement already satisfied: lz4; python_version > "3.0" in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (3.1.0)
Requirement already satisfied: requests in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (2.24.0)
Requirement already satisfied: squarify in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.4.3)
Requirement already satisfied: pandas in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (1.1.1)
Requirement already satisfied: scipy in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (1.5.2)
Requirement already satisfied: Flask>=1.0 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (1.1.2)
Requirement already satisfied: xarray in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.16.1)
Requirement already satisfied: flask-ngrok; python_version > "3.0" in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dtale) (0.0.25)
Requirement already satisfied: brotli in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: patsy>=0.5 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied: numpy>=1.15 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from statsmodels->dtale) (1.19.1)
Requirement already satisfied: dash-core-components==1.12.1 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dash>=1.5.0->dtale) (1.12.1)
Requirement already satisfied: dash-renderer==1.8.2 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dash>=1.5.0->dtale) (1.8.2)
Requirement already satisfied: plotly in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dash>=1.5.0->dtale) (4.12.0)
Requirement already satisfied: dash-table==4.10.1 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dash>=1.5.0->dtale) (4.10.1)
Requirement already satisfied: dash-html-components==1.1.1 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from dash>=1.5.0->dtale) (1.1.1)
Requirement already satisfied: joblib>=0.11 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn>='0.21.0->dtale) (0.17.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from scikit-learn>='0.21.0->dtale) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from requests->dtale) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from requests->dtale) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from requests->dtale) (1.25.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from requests->dtale) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from pandas->dtale) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from pandas->dtale) (2020.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from Flask>=1.0->dtale) (1.0.1)
Requirement already satisfied: click>=5.1 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from Flask>=1.0->dtale) (7.1.2)
Requirement already satisfied: setuptools>=38.4 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from xarray->dtale) (49.6.0.post20200814)
Requirement already satisfied: retrying>=1.3.3 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from plotly->dash>=1.5.0->dtale) (1.3.3)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\17179\anaconda3\envs\pythondata\lib\site-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import dtale

C:\Users\17179\anaconda3\envs\PythonData\lib\site-packages\dtale\datasets.py:5: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import makeTimeDataFrame

In [3]:
base = '../output/'

historical_prices_df = pd.read_csv(base + 'nasdaq_historical_prices.csv')
historical_prices_df = historical_prices_df.drop(columns='Unnamed: 0')
historical_prices_df

,Company,Q1 Date,Q1 Price,Q2 Date,Q2 Price,Q3 Date,Q3 Price
0,DOCU,2020-01-31,78.5100,2020-04-30,104.7500,2020-07-31,216.830000
1,ZM,2020-01-31,76.3000,2020-04-30,135.1700,2020-07-31,253.910000
2,DXCM,2019-12-31,218.7400,2020-03-31,269.2700,2020-06-30,405.400000
3,SPLK,2020-01-31,155.2600,2020-04-30,140.3600,2020-07-31,209.820000
4,SGEN,2019-12-31,114.2600,2020-03-31,115.3800,2020-06-30,169.920000
...,...,...,...,...,...,...,...
98,NVDA,2020-01-26,NaN,2020-04-26,NaN,2020-07-26,NaN
99,PAYX,2020-02-29,NaN,2020-05-31,NaN,2020-08-31,76.470001
100,KLAC,2019-12-31,175.6855,2020-03-31,142.4356,2020-06-30,193.646300
101,CSCO,2020-01-25,NaN,2020-04-25,NaN,2020-07-25,NaN
102,ADSK,2020-01-31,196.8500,2020-04-30,187.1300,2020-07-31,236.430000

In [4]:
financial_ratios_df = pd.read_csv(base + 'nasdaq_financial_ratios.csv')
financial_ratios_df = financial_ratios_df.drop(columns='Unnamed: 0')
financial_ratios_df

,Company,Q1 P/E,Q2 P/E,Q3 P/E,Q1 ROE,Q2 ROE,Q3 ROE,Q1 Date,Q2 Date,Q3 Date
0,DOCU,-299.597287,-400.948571,-620.874031,-0.086774,-0.091441,-0.128634,2020-01-31,2020-04-30,2020-07-31
1,ZM,1191.100353,1473.689789,405.682498,0.018393,0.030029,0.155144,2020-01-31,2020-04-30,2020-07-31
2,DXCM,218.504035,1273.281759,849.326134,0.105031,0.021295,0.034198,2019-12-31,2020-03-31,2020-06-30
3,SPLK,-1064.434087,-72.359266,-127.625338,-0.011367,-0.168823,-0.156529,2020-01-31,2020-04-30,2020-07-31
4,SGEN,759.556952,-118.084957,-1390.521355,0.013767,-0.095379,-0.011681,2019-12-31,2020-03-31,2020-06-30
...,...,...,...,...,...,...,...,...,...,...
98,NVDA,156.637749,201.356865,419.415270,0.077925,0.070005,0.044703,2020-01-26,2020-04-26,2020-07-26
99,PAYX,77.441170,116.583405,130.569997,0.128451,0.079349,0.076153,2020-02-29,2020-05-31,2020-08-31
100,KLAC,73.227875,285.357774,73.578936,0.142543,0.034000,0.154292,2019-12-31,2020-03-31,2020-06-30
101,CSCO,71.068582,64.528627,74.669499,0.080995,0.077686,0.069515,2020-01-25,2020-04-25,2020-07-25
102,ADSK,334.107322,622.734872,534.977047,-0.947520,-0.478073,1.459138,2020-01-31,2020-04-30,2020-07-31

In [5]:
financial_growth_df = pd.read_csv(base + 'nasdaq_financial_growth.csv')
dtale.show(financial_growth_df, ignore_duplicate=True)

In [6]:
nasdaq_df = historical_prices_df.merge(financial_ratios_df, how='outer', on=['Company', 'Q1 Date', 'Q2 Date', 'Q3 Date'])

dtale.show(nasdaq_df, ignore_duplicate=True)

In [7]:
clean_nasdaq_df = nasdaq_df.merge(financial_growth_df, how='outer', on=['Company', 'Q1 Date', 'Q2 Date', 'Q3 Date'])

In [8]:
# remove [SIRI BIDU INTC TCOM] from df

clean_nasdaq_df = clean_nasdaq_df.loc[(clean_nasdaq_df['Company'] != 'BIDU') & (clean_nasdaq_df['Company'] != 'SIRI')
                                     & (clean_nasdaq_df['Company'] != 'INTC') & (clean_nasdaq_df['Company'] != 'TCOM')]

clean_nasdaq_df = clean_nasdaq_df.reset_index(drop=True)

# change price to that 12/27/19
clean_nasdaq_df.loc[50, 'Q1 Price'] = 72.449997

# change price to that 3/27/20
clean_nasdaq_df.loc[50, 'Q2 Price'] = 61.935001

# change price to that of 6/26/20
clean_nasdaq_df.loc[50, 'Q3 Price'] = 88.407501

dtale.show(clean_nasdaq_df, ignore_duplicate=True)

In [9]:
clean_nasdaq_df = clean_nasdaq_df.dropna()
clean_nasdaq_df = clean_nasdaq_df.reset_index(drop=True)

In [10]:
dtale.show(clean_nasdaq_df, ignore_duplicate=True)

###

In [11]:
big_tech_df = clean_nasdaq_df.loc[(clean_nasdaq_df['Company'] == 'FB') | (clean_nasdaq_df['Company'] == 'AMZN') |  
                                  (clean_nasdaq_df['Company'] == 'AAPL') | 
                                  (clean_nasdaq_df['Company'] == 'MSFT') | 
                                  (clean_nasdaq_df['Company'] ==  'NFLX') | 
                                  (clean_nasdaq_df['Company'] == 'GOOG')]

big_tech_df = big_tech_df.reset_index(drop=True)
dtale.show(big_tech_df, ignore_duplicate=True)

In [12]:
# add price changes as percentage for NASDAQ
for index, row in clean_nasdaq_df.iterrows():
    clean_nasdaq_df.loc[index, 'Q1 Price Change'] =  100 * (row['Q1 Price'] - row['Q1 Price'])/(row['Q1 Price'])
    clean_nasdaq_df.loc[index, 'Q2 Price Change'] =  100 * (row['Q2 Price'] - row['Q1 Price'])/(row['Q1 Price'])
    clean_nasdaq_df.loc[index, 'Q3 Price Change'] =  100 * (row['Q3 Price'] - row['Q2 Price'])/(row['Q2 Price'])

clean_nasdaq_df.to_csv('../output/clean_nasdaq_df.csv')
dtale.show(clean_nasdaq_df)

Executing shutdown due to inactivity...

2020-10-26 20:16:58,134 - INFO     - Executing shutdown due to inactivity...

Executing shutdown...

2020-10-26 20:17:02,153 - INFO     - Executing shutdown...

### Analysis ###