In [36]:
pip install dtale

Collecting dtale
  Downloading dtale-1.19.0-py2.py3-none-any.whl (7.7 MB)
     |████████████████████████████████| 7.7 MB 11.9 MB/s eta 0:00:01    |██████████████████              | 4.3 MB 1.4 MB/s eta 0:00:03
Collecting squarify
  Downloading squarify-0.4.3-py3-none-any.whl (4.3 kB)
Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.11.1)
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.0.5)
Requirement already satisfied: scipy in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.5.0)
Requirement already satisfied: future>=0.14.0 in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.18.2)
Collecting dash-bootstrap-components; python_version > "3.0"
  Downloading dash_bootstrap_components-0.10.7-py2.py3-none-any.whl (185 kB)
     |████████████████████████████████| 185 kB 39.8 MB/s eta 0:00:01
Collecting xarray
  Downloading xarray-0.16.1-py3-none-any.whl (720 kB)
     |████████████████████████████████| 720 kB 34.7 MB/s eta 0:00:01     |█████████████████████▉          | 491 kB 34.7 MB/s eta 0:00:01
Requirement already satisfied: itsdangerous in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.1.0)
Collecting strsimpy
  Downloading strsimpy-0.1.9-py3-none-any.whl (45 kB)
     |████████████████████████████████| 45 kB 3.7 MB/s  eta 0:00:01
Collecting Flask-Compress
  Downloading Flask-Compress-1.7.0.tar.gz (9.3 kB)
Collecting dash-colorscales
  Downloading dash_colorscales-0.0.4.tar.gz (62 kB)
     |████████████████████████████████| 62 kB 2.2 MB/s  eta 0:00:01
Requirement already satisfied: Flask>=1.0 in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.1.2)
Collecting dash-daq
  Downloading dash_daq-0.5.0.tar.gz (642 kB)
     |████████████████████████████████| 642 kB 2.2 MB/s eta 0:00:01
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (2.24.0)
Collecting dash>=1.5.0
  Downloading dash-1.16.3.tar.gz (72 kB)
     |████████████████████████████████| 72 kB 3.1 MB/s  eta 0:00:01
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (1.15.0)
Collecting lz4; python_version > "3.0"
  Downloading lz4-3.1.0-cp38-cp38-macosx_10_9_x86_64.whl (251 kB)
     |████████████████████████████████| 251 kB 2.4 MB/s eta 0:00:01
Collecting flask-ngrok; python_version > "3.0"
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: scikit-learn>='0.21.0 in /opt/anaconda3/lib/python3.8/site-packages (from dtale) (0.23.1)
Requirement already satisfied: numpy>=1.14 in /opt/anaconda3/lib/python3.8/site-packages (from statsmodels->dtale) (1.18.5)
Requirement already satisfied: patsy>=0.5 in /opt/anaconda3/lib/python3.8/site-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->dtale) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.8/site-packages (from pandas->dtale) (2.8.1)
Requirement already satisfied: setuptools>=38.4 in /opt/anaconda3/lib/python3.8/site-packages (from xarray->dtale) (49.2.0.post20200714)
Collecting brotli
  Downloading Brotli-1.0.9-cp38-cp38-macosx_10_9_x86_64.whl (421 kB)
     |████████████████████████████████| 421 kB 1.9 MB/s eta 0:00:01
Requirement already satisfied: Jinja2>=2.10.1 in /opt/anaconda3/lib/python3.8/site-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied: click>=5.1 in /opt/anaconda3/lib/python3.8/site-packages (from Flask>=1.0->dtale) (7.1.2)
Requirement already satisfied: Werkzeug>=0.15 in /opt/anaconda3/lib/python3.8/site-packages (from Flask>=1.0->dtale) (1.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from requests->dtale) (2020.6.20)
Collecting plotly
  Downloading plotly-4.12.0-py2.py3-none-any.whl (13.1 MB)
     |████████████████████████████████| 13.1 MB 1.5 MB/s eta 0:00:01
Collecting dash_renderer==1.8.2
  Downloading dash_renderer-1.8.2.tar.gz (1.0 MB)
     |████████████████████████████████| 1.0 MB 1.9 MB/s eta 0:00:01
Collecting dash-core-components==1.12.1
  Downloading dash_core_components-1.12.1.tar.gz (3.4 MB)
     |████████████████████████████████| 3.4 MB 522 kB/s eta 0:00:01     |███████▍                        | 788 kB 522 kB/s eta 0:00:06
Collecting dash-html-components==1.1.1
  Downloading dash_html_components-1.1.1.tar.gz (188 kB)
     |████████████████████████████████| 188 kB 2.7 MB/s eta 0:00:01
Collecting dash-table==4.10.1
  Downloading dash_table-4.10.1.tar.gz (1.8 MB)
     |████████████████████████████████| 1.8 MB 4.7 MB/s eta 0:00:01
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>='0.21.0->dtale) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>='0.21.0->dtale) (0.16.0)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/anaconda3/lib/python3.8/site-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)
Collecting retrying>=1.3.3
  Downloading retrying-1.3.3.tar.gz (10 kB)
Building wheels for collected packages: Flask-Compress, dash-colorscales, dash-daq, dash, dash-renderer, dash-core-components, dash-html-components, dash-table, retrying
  Building wheel for Flask-Compress (setup.py) ... done
  Created wheel for Flask-Compress: filename=Flask_Compress-1.7.0-py3-none-any.whl size=6833 sha256=67148eedcf553a8f68883612ca18d11cbb30935ca17932eac4c4eb5d018bd69f
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/60/70/c6/506dddfa28078faea4fed05e486defbaa433038f800440742f
  Building wheel for dash-colorscales (setup.py) ... done
  Created wheel for dash-colorscales: filename=dash_colorscales-0.0.4-py3-none-any.whl size=62597 sha256=3cfa7993803dfa997743555f790b9b822d059e80f077844f831076f5d2fd6ee0
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/fe/33/33/172dbfe1efc739352828854a113df599a428b58f68ed0c4f75
  Building wheel for dash-daq (setup.py) ... done
  Created wheel for dash-daq: filename=dash_daq-0.5.0-py3-none-any.whl size=669702 sha256=99a72e82ba54cbf55aecb0fb3f965c173232af080c3411e27ddf27d9ae564b26
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/00/35/e5/57e90f10c529601c6627400513cb65dd5adb09752411f5a050
  Building wheel for dash (setup.py) ... done
  Created wheel for dash: filename=dash-1.16.3-py3-none-any.whl size=82489 sha256=f7e21c0c98541bd2ef04a6e389acce23ad731b54e041c56fa9485d80e3dd2042
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/af/8b/1b/97b3a0e8ae05d85d2200b9ac883c46109535284a1facb2e4d7
  Building wheel for dash-renderer (setup.py) ... done
  Created wheel for dash-renderer: filename=dash_renderer-1.8.2-py3-none-any.whl size=1013927 sha256=c96d22315163f467343cf218d4858e125ca0bcc4a2d868e022e08c8c9fc1bb95
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/10/e3/34/d2d364809de513ac9112fe5143b038b4fe0d8eaca69702df30
  Building wheel for dash-core-components (setup.py) ... done
  Created wheel for dash-core-components: filename=dash_core_components-1.12.1-py3-none-any.whl size=3475391 sha256=172e29d4ac809513d300e67f6b0eb1036292d42b4c63811a7f36e61f06e0afb8
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/87/7c/e0/af30aa4769c1b5829fe41f0b9b1e1b5dce9899328c4619bc78
  Building wheel for dash-html-components (setup.py) ... done
  Created wheel for dash-html-components: filename=dash_html_components-1.1.1-py3-none-any.whl size=427894 sha256=761f36f601f577e37ff324dab428d40c5ea31752a3523f4f7e093d064505fc49
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/ed/fc/1c/f68ef111763cc328876457a871024052e0b48950c63bc1ac04

  Building wheel for dash-table (setup.py) ... done
  Created wheel for dash-table: filename=dash_table-4.10.1-py3-none-any.whl size=1824996 sha256=2fb431cd6b53e3ece7f06bbebefd91e6c9cdae645fc6d1a67d38a61a6a0e18a8
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/0c/5b/84/58c763a6dc2cc332fe404901748ad89d25d9dacd48778ee241
  Building wheel for retrying (setup.py) ... done
  Created wheel for retrying: filename=retrying-1.3.3-py3-none-any.whl size=11430 sha256=6ea360f72af9adea0e7b459c5498902ed8e8c015ccc92b7e60ebeda63506a370
  Stored in directory: /Users/m1nsun9/Library/Caches/pip/wheels/c4/a7/48/0a434133f6d56e878ca511c0e6c38326907c0792f67b476e56
Successfully built Flask-Compress dash-colorscales dash-daq dash dash-renderer dash-core-components dash-html-components dash-table retrying
Installing collected packages: squarify, brotli, Flask-Compress, retrying, plotly, dash-renderer, dash-core-components, dash-html-components, dash-table, dash, dash-bootstrap-components, xarray, strsimpy, dash-colorscales, dash-daq, lz4, flask-ngrok, dtale
Successfully installed Flask-Compress-1.7.0 brotli-1.0.9 dash-1.16.3 dash-bootstrap-components-0.10.7 dash-colorscales-0.0.4 dash-core-components-1.12.1 dash-daq-0.5.0 dash-html-components-1.1.1 dash-renderer-1.8.2 dash-table-4.10.1 dtale-1.19.0 flask-ngrok-0.0.25 lz4-3.1.0 plotly-4.12.0 retrying-1.3.3 squarify-0.4.3 strsimpy-0.1.9 xarray-0.16.1
Note: you may need to restart the kernel to use updated packages.

In [37]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import dtale

In [9]:
base = '../output/'

historical_prices_df = pd.read_csv(base + 'nasdaq_historical_prices.csv')
historical_prices_df = historical_prices_df.drop(columns='Unnamed: 0')
historical_prices_df

,Company,Q1 Date,Q1 Price,Q2 Date,Q2 Price,Q3 Date,Q3 Price
0,DOCU,2020-01-31,78.5100,2020-04-30,104.7500,2020-07-31,216.830000
1,ZM,2020-01-31,76.3000,2020-04-30,135.1700,2020-07-31,253.910000
2,DXCM,2019-12-31,218.7400,2020-03-31,269.2700,2020-06-30,405.400000
3,SPLK,2020-01-31,155.2600,2020-04-30,140.3600,2020-07-31,209.820000
4,SGEN,2019-12-31,114.2600,2020-03-31,115.3800,2020-06-30,169.920000
...,...,...,...,...,...,...,...
98,NVDA,2020-01-26,NaN,2020-04-26,NaN,2020-07-26,NaN
99,PAYX,2020-02-29,NaN,2020-05-31,NaN,2020-08-31,76.470001
100,KLAC,2019-12-31,175.6855,2020-03-31,142.4356,2020-06-30,193.646300
101,CSCO,2020-01-25,NaN,2020-04-25,NaN,2020-07-25,NaN
102,ADSK,2020-01-31,196.8500,2020-04-30,187.1300,2020-07-31,236.430000

In [10]:
financial_ratios_df = pd.read_csv(base + 'nasdaq_financial_ratios.csv')
financial_ratios_df = financial_ratios_df.drop(columns='Unnamed: 0')
financial_ratios_df

,Company,Q1 P/E,Q2 P/E,Q3 P/E,Q1 ROE,Q2 ROE,Q3 ROE,Q1 Date,Q2 Date,Q3 Date
0,DOCU,-299.597287,-400.948571,-620.874031,-0.086774,-0.091441,-0.128634,2020-01-31,2020-04-30,2020-07-31
1,ZM,1191.100353,1473.689789,405.682498,0.018393,0.030029,0.155144,2020-01-31,2020-04-30,2020-07-31
2,DXCM,218.504035,1273.281759,849.326134,0.105031,0.021295,0.034198,2019-12-31,2020-03-31,2020-06-30
3,SPLK,-1064.434087,-72.359266,-127.625338,-0.011367,-0.168823,-0.156529,2020-01-31,2020-04-30,2020-07-31
4,SGEN,759.556952,-118.084957,-1390.521355,0.013767,-0.095379,-0.011681,2019-12-31,2020-03-31,2020-06-30
...,...,...,...,...,...,...,...,...,...,...
98,NVDA,156.637749,201.356865,419.415270,0.077925,0.070005,0.044703,2020-01-26,2020-04-26,2020-07-26
99,PAYX,77.441170,116.583405,130.569997,0.128451,0.079349,0.076153,2020-02-29,2020-05-31,2020-08-31
100,KLAC,73.227875,285.357774,73.578936,0.142543,0.034000,0.154292,2019-12-31,2020-03-31,2020-06-30
101,CSCO,71.068582,64.528627,74.669499,0.080995,0.077686,0.069515,2020-01-25,2020-04-25,2020-07-25
102,ADSK,334.107322,622.734872,534.977047,-0.947520,-0.478073,1.459138,2020-01-31,2020-04-30,2020-07-31

In [11]:
financial_growth_df = pd.read_csv(base + 'nasdaq_financial_growth.csv')
financial_growth_df

,Company,Q1 Op Income Growth,Q2 Op Income Growth,Q3 Op Income Growth,Q1 EPS Growth,Q2 EPS Growth,Q3 EPS Growth,Q1 Rev Growth,Q2 Rev Growth,Q3 Rev Growth,Q1 Date,Q2 Date,Q3 Date
0,DOCU,0.037366,0.011806,-0.400975,-0.002755,0.003015,-0.336714,0.101775,0.080474,0.152153,2020-01-31,2020-04-30,2020-07-31
1,ZM,7.285289,1.215958,7.043789,7.484768,0.431783,5.823812,0.130005,0.743242,1.021897,2020-01-31,2020-04-30,2020-07-31
2,DXCM,0.812500,-0.668966,0.857143,1.021812,-0.788748,1.257046,0.167802,-0.124676,0.115280,2019-12-31,2020-03-31,2020-06-30
3,SPLK,0.836390,-36.149183,0.170308,0.614331,-12.298848,0.152461,0.263191,-0.451356,0.132652,2020-01-31,2020-04-30,2020-07-31
4,SGEN,0.572151,-1.924845,0.163678,1.275135,-7.495313,0.874935,0.358904,-0.190784,0.185422,2019-12-31,2020-03-31,2020-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,NVDA,0.067961,-0.014141,-0.332992,0.052733,-0.037299,-0.326037,0.030192,-0.008052,0.255195,2020-01-26,2020-04-26,2020-07-26
99,PAYX,0.375768,-0.362689,-0.052069,0.368780,-0.376908,-0.042836,0.153427,-0.199177,0.018686,2020-02-29,2020-05-31,2020-08-31
100,KLAC,0.128174,-0.668505,1.953593,0.108664,-0.791948,4.272603,0.067948,-0.056636,0.025021,2019-12-31,2020-03-31,2020-06-30
101,CSCO,-0.055602,0.010059,-0.048916,-0.013392,-0.032283,-0.049527,-0.087697,-0.001833,0.014270,2020-01-25,2020-04-25,2020-07-25
102,ADSK,0.209765,-0.023916,0.118683,0.960079,-0.489969,0.470682,0.067165,-0.015123,0.030936,2020-01-31,2020-04-30,2020-07-31

In [29]:
nasdaq_df = historical_prices_df.merge(financial_ratios_df, how='outer', on=['Company', 'Q1 Date', 'Q2 Date', 'Q3 Date'])

nasdaq_df

,Company,Q1 Date,Q1 Price,Q2 Date,Q2 Price,Q3 Date,Q3 Price,Q1 P/E,Q2 P/E,Q3 P/E,Q1 ROE,Q2 ROE,Q3 ROE
0,DOCU,2020-01-31,78.5100,2020-04-30,104.7500,2020-07-31,216.830000,-299.597287,-400.948571,-620.874031,-0.086774,-0.091441,-0.128634
1,ZM,2020-01-31,76.3000,2020-04-30,135.1700,2020-07-31,253.910000,1191.100353,1473.689789,405.682498,0.018393,0.030029,0.155144
2,DXCM,2019-12-31,218.7400,2020-03-31,269.2700,2020-06-30,405.400000,218.504035,1273.281759,849.326134,0.105031,0.021295,0.034198
3,SPLK,2020-01-31,155.2600,2020-04-30,140.3600,2020-07-31,209.820000,-1064.434087,-72.359266,-127.625338,-0.011367,-0.168823,-0.156529
4,SGEN,2019-12-31,114.2600,2020-03-31,115.3800,2020-06-30,169.920000,759.556952,-118.084957,-1390.521355,0.013767,-0.095379,-0.011681
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,NVDA,2020-01-26,NaN,2020-04-26,NaN,2020-07-26,NaN,156.637749,201.356865,419.415270,0.077925,0.070005,0.044703
99,PAYX,2020-02-29,NaN,2020-05-31,NaN,2020-08-31,76.470001,77.441170,116.583405,130.569997,0.128451,0.079349,0.076153
100,KLAC,2019-12-31,175.6855,2020-03-31,142.4356,2020-06-30,193.646300,73.227875,285.357774,73.578936,0.142543,0.034000,0.154292
101,CSCO,2020-01-25,NaN,2020-04-25,NaN,2020-07-25,NaN,71.068582,64.528627,74.669499,0.080995,0.077686,0.069515
102,ADSK,2020-01-31,196.8500,2020-04-30,187.1300,2020-07-31,236.430000,334.107322,622.734872,534.977047,-0.947520,-0.478073,1.459138

In [23]:
clean_nasdaq_df = nasdaq_df.merge(financial_growth_df, how='outer', on=['Company', 'Q1 Date', 'Q2 Date', 'Q3 Date'])

In [32]:
# remove [SIRI BIDU INTC TCOM] from df

clean_nasdaq_df = clean_nasdaq_df.loc[(clean_nasdaq_df['Company'] != 'BIDU') & (clean_nasdaq_df['Company'] != 'SIRI')
                                     & (clean_nasdaq_df['Company'] != 'INTC') & (clean_nasdaq_df['Company'] != 'TCOM')]

clean_nasdaq_df

,Company,Q1 Date,Q1 Price,Q2 Date,Q2 Price,Q3 Date,Q3 Price,Q1 P/E,Q2 P/E,Q3 P/E,...,Q3 ROE,Q1 Op Income Growth,Q2 Op Income Growth,Q3 Op Income Growth,Q1 EPS Growth,Q2 EPS Growth,Q3 EPS Growth,Q1 Rev Growth,Q2 Rev Growth,Q3 Rev Growth
0,DOCU,2020-01-31,78.5100,2020-04-30,104.7500,2020-07-31,216.830000,-299.597287,-400.948571,-620.874031,...,-0.128634,0.037366,0.011806,-0.400975,-0.002755,0.003015,-0.336714,0.101775,0.080474,0.152153
1,ZM,2020-01-31,76.3000,2020-04-30,135.1700,2020-07-31,253.910000,1191.100353,1473.689789,405.682498,...,0.155144,7.285289,1.215958,7.043789,7.484768,0.431783,5.823812,0.130005,0.743242,1.021897
2,DXCM,2019-12-31,218.7400,2020-03-31,269.2700,2020-06-30,405.400000,218.504035,1273.281759,849.326134,...,0.034198,0.812500,-0.668966,0.857143,1.021812,-0.788748,1.257046,0.167802,-0.124676,0.115280
3,SPLK,2020-01-31,155.2600,2020-04-30,140.3600,2020-07-31,209.820000,-1064.434087,-72.359266,-127.625338,...,-0.156529,0.836390,-36.149183,0.170308,0.614331,-12.298848,0.152461,0.263191,-0.451356,0.132652
4,SGEN,2019-12-31,114.2600,2020-03-31,115.3800,2020-06-30,169.920000,759.556952,-118.084957,-1390.521355,...,-0.011681,0.572151,-1.924845,0.163678,1.275135,-7.495313,0.874935,0.358904,-0.190784,0.185422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,NVDA,2020-01-26,NaN,2020-04-26,NaN,2020-07-26,NaN,156.637749,201.356865,419.415270,...,0.044703,0.067961,-0.014141,-0.332992,0.052733,-0.037299,-0.326037,0.030192,-0.008052,0.255195
99,PAYX,2020-02-29,NaN,2020-05-31,NaN,2020-08-31,76.470001,77.441170,116.583405,130.569997,...,0.076153,0.375768,-0.362689,-0.052069,0.368780,-0.376908,-0.042836,0.153427,-0.199177,0.018686
100,KLAC,2019-12-31,175.6855,2020-03-31,142.4356,2020-06-30,193.646300,73.227875,285.357774,73.578936,...,0.154292,0.128174,-0.668505,1.953593,0.108664,-0.791948,4.272603,0.067948,-0.056636,0.025021
101,CSCO,2020-01-25,NaN,2020-04-25,NaN,2020-07-25,NaN,71.068582,64.528627,74.669499,...,0.069515,-0.055602,0.010059,-0.048916,-0.013392,-0.032283,-0.049527,-0.087697,-0.001833,0.014270
102,ADSK,2020-01-31,196.8500,2020-04-30,187.1300,2020-07-31,236.430000,334.107322,622.734872,534.977047,...,1.459138,0.209765,-0.023916,0.118683,0.960079,-0.489969,0.470682,0.067165,-0.015123,0.030936

In [35]:
clean_nasdaq_df = clean_nasdaq_df.reset_index(drop=True)
clean_nasdaq_df

,Company,Q1 Date,Q1 Price,Q2 Date,Q2 Price,Q3 Date,Q3 Price,Q1 P/E,Q2 P/E,Q3 P/E,...,Q3 ROE,Q1 Op Income Growth,Q2 Op Income Growth,Q3 Op Income Growth,Q1 EPS Growth,Q2 EPS Growth,Q3 EPS Growth,Q1 Rev Growth,Q2 Rev Growth,Q3 Rev Growth
0,DOCU,2020-01-31,78.5100,2020-04-30,104.7500,2020-07-31,216.830000,-299.597287,-400.948571,-620.874031,...,-0.128634,0.037366,0.011806,-0.400975,-0.002755,0.003015,-0.336714,0.101775,0.080474,0.152153
1,ZM,2020-01-31,76.3000,2020-04-30,135.1700,2020-07-31,253.910000,1191.100353,1473.689789,405.682498,...,0.155144,7.285289,1.215958,7.043789,7.484768,0.431783,5.823812,0.130005,0.743242,1.021897
2,DXCM,2019-12-31,218.7400,2020-03-31,269.2700,2020-06-30,405.400000,218.504035,1273.281759,849.326134,...,0.034198,0.812500,-0.668966,0.857143,1.021812,-0.788748,1.257046,0.167802,-0.124676,0.115280
3,SPLK,2020-01-31,155.2600,2020-04-30,140.3600,2020-07-31,209.820000,-1064.434087,-72.359266,-127.625338,...,-0.156529,0.836390,-36.149183,0.170308,0.614331,-12.298848,0.152461,0.263191,-0.451356,0.132652
4,SGEN,2019-12-31,114.2600,2020-03-31,115.3800,2020-06-30,169.920000,759.556952,-118.084957,-1390.521355,...,-0.011681,0.572151,-1.924845,0.163678,1.275135,-7.495313,0.874935,0.358904,-0.190784,0.185422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,NVDA,2020-01-26,NaN,2020-04-26,NaN,2020-07-26,NaN,156.637749,201.356865,419.415270,...,0.044703,0.067961,-0.014141,-0.332992,0.052733,-0.037299,-0.326037,0.030192,-0.008052,0.255195
95,PAYX,2020-02-29,NaN,2020-05-31,NaN,2020-08-31,76.470001,77.441170,116.583405,130.569997,...,0.076153,0.375768,-0.362689,-0.052069,0.368780,-0.376908,-0.042836,0.153427,-0.199177,0.018686
96,KLAC,2019-12-31,175.6855,2020-03-31,142.4356,2020-06-30,193.646300,73.227875,285.357774,73.578936,...,0.154292,0.128174,-0.668505,1.953593,0.108664,-0.791948,4.272603,0.067948,-0.056636,0.025021
97,CSCO,2020-01-25,NaN,2020-04-25,NaN,2020-07-25,NaN,71.068582,64.528627,74.669499,...,0.069515,-0.055602,0.010059,-0.048916,-0.013392,-0.032283,-0.049527,-0.087697,-0.001833,0.014270
98,ADSK,2020-01-31,196.8500,2020-04-30,187.1300,2020-07-31,236.430000,334.107322,622.734872,534.977047,...,1.459138,0.209765,-0.023916,0.118683,0.960079,-0.489969,0.470682,0.067165,-0.015123,0.030936

In [38]:
dtale.show(clean_nasdaq_df)